:root{
  --gray: #e5e7eb;
  --white: #f9fafb;
  --bgc: #075985;
  --header: #1f2937;
  --button: #d4d4d8;
  --hover: #71717a;
  --border: #d4d4d8;
} 


html,body,
#root{
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: var(--bgc);
}

input{
  border: 2px solid var(--border);

  padding: 4px;
  border-radius: 8px;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--header);
  color: var(--white);
  padding: 18px;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}


.container{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: 50px;
}



.preview{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general form{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.school form,
.job form{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.school label[for = 'school'],
.school label[for = 'major'],
.school label[for = 'gpa']{
  grid-column: 1/-1;
}


.general label,
.school label,
.job label {
  display: grid;
  grid-template-columns: 120px 1fr;
}
focus
.job label[for = 'company'],
.job label[for = 'title'],
.job label[for = 'responsibilities']{
  grid-column: 1/-1;
}


.title{
  font-size: 18px;
  font-weight: bold;
}


.fields,
.education,
.work{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.school,
.job{
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px  4px rgba(0, 0, 0, 0.073);
  background-color: var(--white);
}

.fields{
  align-items: center;
  padding: 32px;
}

.section{
  border-radius: 8px;
  padding: 16px;
  background-color: var(--gray);
  width: 100%;
}

.section button{
  border: none;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--button);
}

button:active{
  background-color: var(--hover);
}



.responsibilities{
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.responsibility{
  display: flex;
  gap: 4px;
}

.responsibility input{
  flex: 1;
}
 
.display-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(70vh * (8.5/11));
  height: 70vh;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.211);
  padding: 18px;
  position: fixed;
  background-color: var(--white);
  font-size: max(0.8rem, 2.4vh);
}



.display-container #display-name{
  padding: 8px;
  font-weight: bold;
  font-size: 1.4em;
}

.display-container #head-second{
  font-style: italic;
  color: darkslategray;
  text-align: right;
}

.display-title{
  font-size: 1.2em;
  font-weight: bold;
}

.display-school-first,
.display-job-first{
  display: flex;
  justify-content: space-between;
}

.display-school-name,
.display-job-company{
  font-weight: bold;
}

.display-school-time,
.display-job-time,
.display-job-title{
  font-style: italic;
  color: darkslategray;
}

.display-job-time{
  display: flex;
  justify-content: flex-end;
}

.display-school-second,
.display-job-second{
  font-style: italic;
  color: darkslategray;
}

.tab{
  margin-left: 20px;
}

ul{
  margin: 0px;
}